.container {
    height: 85vh;
    width: 100vw;
    background-color: #111;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    padding-top: 3rem;
    margin-top: 0;
    color: #0070f3;
}

.transaction {
    width: 60vw;
    height: 8vh;
    background-color: #222;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
}

.block {
    color: #0070f3;
    font-weight: 300;
}